{% extends 'cetus/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      {% block head %}
      {% endblock %}
      
     
   </head>
   <body>
      {% block body %}
       <div class="fixed-btn">
         <a href="{% url 'sendrequirnment' %}" class="elementor-button">Send Requirnment</a><a>
         </a></div> 
      <!-- contact section end -->

      <section class="ftco-section">
         <div class="container">
            
         <div class="row justify-content-center">
            <div class="about_taital m-5">Connect  With <span style="color:#731110">CETUS</span></div>

           
         </div>
         <div class="row justify-content-center">
         <div class="col-md-12">
         <div class="wrapper">
         <div class="row mb-5">
         <div class="col-md-4">
         <div class="dbox w-100 text-center">
         <div class="icon d-flex align-items-center justify-content-center">
         <span class="fa fa-map-marker"></span>
         </div>
         <div class="text">
         <p><span>Address:</span> Rasul Para, Opp. Old Toll Tax, NH-8B, Rajkot,<br>
            Gujarat (INDIA)</p>
         </div>
         </div>
         </div>
         <div class="col-md-4">
         <div class="dbox w-100 text-center">
         <div class="icon d-flex align-items-center justify-content-center">
         <span class="fa fa-phone"></span>
         </div>
         <div class="text">
         <p><span>Phone:</span> <a href="tel://9924999295">+91 99249 99295</a></p>
         </div>
         </div>
         </div>
         <div class="col-md-4">
         <div class="dbox w-100 text-center">
         <div class="icon d-flex align-items-center justify-content-center">
         <span class="fa fa-envelope"></span>
         </div>
         <div class="text">
         <p><span>Email:</span> <a href="mailto:cetusinterior@gmail.com">cetusinterior@gmail.com</a></p>
         </div>
         </div>
         </div>
         <!-- <div class="col-md-3">
         <div class="dbox w-100 text-center">
         <div class="icon d-flex align-items-center justify-content-center">
         <span class="fa fa-globe"></span>
         </div>
         <div class="text">
         <p><span>Website</span> <a href="#">yoursite.com</a></p>
         </div>
         </div>
         </div> -->
         </div>
         <div class="row no-gutters">
         <div class="col-md-7">
         <div class="contact-wrap w-100 p-md-5 p-4">
            {% include 'cetus/error.html' %}
            {% if form.non_field_errors %}
            <ul class='form-errors'>
              {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
         <h3 class="mb-4">Contact Us</h3>
         <div id="form-message-warning" class="mb-4"></div>
         
         <form method="POST" id="contactForm" name="contactForm" class="contactForm" action="{% url 'contactsubmit' %}" method="post">
            {% csrf_token %}
         <div class="row">
         <div class="col-md-6">
         <div class="form-group">
         <label class="label" for="name">Full Name</label><span class="red">*</span>
         <input type="text" class="form-control" name="Name" id="name" placeholder="Name">
         </div>
         </div>
         <div class="col-md-6">
         <div class="form-group">
         <label class="label" for="email">Email Address</label><span class="red">*</span>
         <input type="email" class="form-control" name="Email" id="email" placeholder="Email">
         </div>
         </div>
         <div class="col-md-12">
         <div class="form-group">
         <label class="label" for="subject">Subject</label><span class="red">*</span>
         <input type="text" class="form-control" name="Subject" id="subject" placeholder="Subject">
         </div>
         </div>
         <div class="col-md-12">
         <div class="form-group">
         <label class="label" for="#">Message</label><span class="red">*</span>
         <textarea name="Message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
         </div>
         </div>
         <div class="col-md-12">
         <div class="form-group">
         <input type="submit" value="Send Message" class="btn btn-primary">
         <div class="submitting"></div>
         </div>
         </div>
         </div>
         </form>
         </div>
         </div>
         <div class="col-md-5 d-flex align-items-stretch">
         <div class="info-wrap w-100 p-5 img" style="background-image: url({%static 'assets/images/contact.jpg' %});">
         </div>
         </div>
         </div>
         </div>
         </div>
         </div>
         </div>
         </section>



        {% endblock %} 
   </body>
</html>