{% extends 'cetus/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      {% block head %}
      {% endblock %}
   </head>
   <body>
      {% block body %}

      <!-- service section start -->
      <div class="services_section layout_padding">
         <div class="container">
            <div class="services_taital">Our Services</div>
            <p class="services_text">It is a long established fact that a reader will be distracted by the readable</p>
         </div>
         <div class="services_section_2 layout_padding">
            <div class="container-fluid padding_0">
               <div class="box_main">
                  <div class="box_left">
                     <div class="box_left_main">
                        <div class="box_left_one">
                           <div class="image_1"><img src="images/img-1.png"></div>
                        </div>
                        <div class="box_right_one">
                           <div class="icon_1"><img src="images/icon-1.png"><span class="padding_left_10">architecture  Design</span></div>
                           <p class="long_text">It is a long established fact that a reader will be distracted by the </p>
                        </div>
                     </div>
                     <div class="see_bt"><a href="#">See More</a></div>
                  </div>
                  <div class="box_middle">
                     <div class="box_left_main">
                        <div class="padding_10">
                           <div class="icon_1"><img src="images/icon-2.png"><span class="padding_left_10">architecture  Design</span></div>
                           <p class="long_text">It is a long established fact that a reader will be distracted by the </p>
                        </div>
                     </div>
                     <div class="see_bt"><a href="#">See More</a></div>
                  </div>
                  <div class="box_right">
                     <div class="box_left_main">
                        <div class="box_right_one">
                           <div class="icon_1"><img src="images/icon-3.png"><span class="padding_left_10">architecture  Design</span></div>
                           <p class="long_text">It is a long established fact that a reader will be distracted by the </p>
                        </div>
                        <div class="box_left_one">
                           <div class="image_2"><img src="images/img-2.png"></div>
                        </div>
                     </div>
                     <div class="see_bt"><a href="#">See More</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- service section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding margin_top_90">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-sm-12">
                  <div class="map_text"><a href="#"><img src="images/map-icon.png" class="image_main"><span class="padding_left_10">No.123 Chalingt Gates, Supper market New York</span></a></div>
               </div>
               <div class="col-lg-4 col-sm-12">
                  <div class="map_text"><a href="#"><img src="images/call-icon.png" class="image_main"><span class="padding_left_10">(+71 7986543234)</span></a></div>
               </div>
               <div class="col-lg-4 col-sm-12">
                  <div class="map_text"><a href="#"><img src="images/mail-icon.png" class="image_main"><span class="padding_left_10">demo@gmail.com</span></a></div>
               </div>
            </div>
         </div>
      </div>
      {% endblock %} 

   </body>
</html>